<div class="content">
    <h1>Todo List </h1>
    <form action="/store" method="POST">
        <div class="row">
            <div class="col-25">
                <label for="fname"> Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="fname" name="fname" placeholder="Your name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="tname">Time</label>
            </div>
            <div class="col-75">
                <input type="text" id="tname" name="tname" placeholder="Your last time..">
            </div>
        </div>
        <br>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
    <h2>List</h2>
    <div class="list">

        <table id="customers">
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Edit</th>
            </tr>
            {{#each todo}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.time}}</td>
                <td>
                    {{!-- <form action="/delete/{{this._id}}" method="POST">
                        <button type="submit">Delete</button>
                    </form> --}}
                    <button>Sửa</button>
                </td>
            </tr>

            {{/each}}

        </table>

    </div>

</div>

<script>
    // btn_delete



</script>